html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header {
  background-color: #1B8366;
}

.btn-primary {
  background-color: #1B8366 !important;
  border-color: #1B8366 !important;
}

.btn-warning {
  background-color: #57C478 !important;
  border-color: #57C478 !important;
}

.btn-danger {
  background-color: #FFDD0E !important;
  border-color: #FFDD0E !important;
  color: black;
}

.div-buttons {
  padding-bottom: 1rem;
}

.money {
  color: #1B8366;
  font-weight: bolder;
}