@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Sistema desenvolvido para a disciplina <span class="money">Práticas de Implementação e Evolução de Software</span> do curso
    de <span class="money">Engenharia de Software</span> da universidade <span class="money">PUC Minas</span>.</p>
</div>
